[contenteditable]:empty::before {
  content: 'Insert your markdown';
  @apply cursor-text text-gray-600 italic;
}

.markdown {
  @apply text-gray-500 leading-normal font-mono text-sm;

  > *:first-child {
    @apply mt-0;
  }

  > * + * {
    @apply mt-5;
  }

  ul, ol {
    @apply my-4;
  }

  ul > * + *, ol > * + * {
    @apply mt-2;
  }

  > hr {
    @apply border-t-0 border-r-0 border-l-0 border-b-2 border-gray-600 my-8;
  }

  > a, > p a, > ul li a, > ol li a {
    @apply underline font-medium cursor-pointer;
    &:hover {
      @apply text-gray-600;
    }
  }

  ul {
    @apply list-disc;
  }

  > p strong, > ul strong {
    @apply font-semibold;
  }

  > p code, > ul li *:not(pre) code, > ul li > code, > ol li *:not(pre) code, > ol li > code {
    @apply inline-block rounded-sm bg-gray-900 text-sm py-1 px-1 leading-none whitespace-nowrap text-gray-400 font-mono align-baseline;
  }

  > blockquote {
    @apply italic text-gray-600;
  }

  > h1 {
    @apply mt-8 mb-4 leading-none text-gray-400 font-medium text-2xl;

    &:before {
      content: '#';
      @apply absolute -ml-7 text-gray-700;
    }
  }
  > h2 {
    @apply mt-8 mb-4 text-gray-400 leading-none font-normal text-xl;

    &:before {
      content: '##';
      @apply absolute -ml-10 text-gray-700;
    }
  }
  > h2 + h3 {
    @apply mt-6;
  }
  > h3 {
    @apply mt-6 -mb-3 text-gray-400 leading-tight font-medium text-lg;

    &:before {
      content: '###';
      @apply absolute -ml-12 text-gray-700;
    }
  }
  > h4 {
    @apply mt-4 mb-0 text-gray-400 leading-snug font-medium text-lg;

    &:before {
      content: '####';
      margin-left: -3.75rem;
      @apply absolute text-gray-700;
    }
  }
  > h1 + p {
    @apply mt-0 mb-4;
  }

  > p, > blockquote > p, div {
    @apply text-sm mt-4;
  }
}